flows (1).json
[{"id":"eb2574ee.d39f88","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"ce4906b9.be8398","type":"ibmiot in","z":"eb2574ee.d39f88","authentication":"apiKey","apiKey":"105df22a.7199ee","inputType":"cmd","logicalInterface":"","ruleId":"","deviceId":"Dummy123","applicationId":"","deviceType":"Dummy","eventType":"+","commandType":"cmd","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":210,"y":160,"wires":[["6a04550e.357acc","8ca8faec.547908"]]},{"id":"6a04550e.357acc","type":"function","z":"eb2574ee.d39f88","name":"Employee_details","func":"msg.payload=msg.payload.name\nglobal.set('name[j]',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":160,"wires":[["3ba9eaba.6ac716"]]},{"id":"3ba9eaba.6ac716","type":"function","z":"eb2574ee.d39f88","name":"Employee_id","func":"msg.payload=msg.payload.id\nglobal.set('j',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":280,"wires":[["5ecccad0.d85234"]]},{"id":"5ecccad0.d85234","type":"function","z":"eb2574ee.d39f88","name":"Date_time","func":"msg.payload=msg.payload.Date_Time_room\nglobal.set('date_time',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":400,"wires":[["b83f8fba.fcfb5"]]},{"id":"b83f8fba.fcfb5","type":"debug","z":"eb2574ee.d39f88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":260,"wires":[]},{"id":"8ca8faec.547908","type":"cloudant out","z":"eb2574ee.d39f88","name":"Extry","cloudant":"","database":"harshith266","service":"node-red-vjjpu-2021--cloudant-1626024663258-68292","payonly":false,"operation":"insert","x":280,"y":320,"wires":[]},{"id":"105df22a.7199ee","type":"ibmiot","name":"API IOT","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false}]